html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
    color: #333;
}

header {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

header p {
    font-size: 18px;
}

nav {
    background-color: #111827;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #2563eb;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

/* Sections */
section {
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* Section headings */
section h2 {
    color: #1f2937;
}

/* Button */
button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1d4ed8;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Contact form */

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    margin-top: 20px;
}

#formMessage {
    font-weight: bold;
    margin-top: 15px;
}